html, body {
  background-image: linear-gradient(to bottom right, #19253C, #45567D);
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  resize: vertical;
  overflow: auto;
}

h1 {
  color: #F79144;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
}

label {
  color: white;
}

button {
  font-size: 1.25em;
  margin: 4px 0px 0px;
  padding: 7px 30px;
}

.error {
  color: LightCoral;
}

.horizontalsection {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
}

.login {
  background-image: linear-gradient(to top left, #45567D, #42659f);
  border: 5px solid Black;
  border-radius: 25px;
  width: 25%;
  
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  
  margin: auto;
  padding: 20px 20px 60px;
}

.fields {
  display: flex;
  flex-direction: column;
  -webkit-box-pack: left;
  justify-content: left;
  -webkit-box-align: left;
}

.login label {
  font-size: 1.1em;
}

.login input {
  padding: 5px;
  width: 100%;
}

.homepagesection {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.appsection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.studentapp {
  background-image: linear-gradient(to top left, #45567D, #42659f);
  border: 5px solid LightGray;
  border-radius: 25px;
  height: 65vh;
  width: 40vh;
  padding: 5px 25px;
}

.professorapp {
    background-image: linear-gradient(to top left, #45567D, #42659f);
    border: 5px solid LightGray;
    border-radius: 25px;
    height: 65vh;
    width: 35vh;
    padding: 5px 25px;
}